<div class="container no-bottom">
	<h3>Use our socials</h3>
    <p>
    	This side is dedicated to all the social networks, phone numbers and other
        details you may want to include about John Doe. Styled and made to look
        just awesome on mobile and tablet devices!
    </p>
</div>
<div class="container no-bottom">
    <div class="hide-if-mobile">
        <a href="#" class="one-third-responsive tablet-social facebook-social"><i class="fa fa-facebook"></i>Facebook</a>
        <a href="#" class="one-third-responsive tablet-social twitter-social"><i class="fa fa-twitter"></i>Twitter</a>
        <a href="#" class="one-third-responsive last-column tablet-social google-social"><i class="fa fa-google-plus"></i>Google Plus</a>
    </div>
    <div class="hide-if-responsive">
        <a href="#" class="mobile-social facebook-social"><i class="fa fa-facebook"></i>Like our page on Facebook</a>
        <a href="#" class="one-half mobile-social twitter-social"><i class="fa fa-twitter"></i>Twitter</a>
        <a href="#" class="one-half mobile-social last-column google-social"><i class="fa fa-google-plus"></i>Google</a>               
    </div>
</div>