<div class="dashboard">

	<div class="homepage-box-one active-homepage-box" ui-view="columnOne">
	
	    <div class="container no-bottom">
	    	<img src="lib/images/whois.png" alt="img" class="responsive-image">
	        <h3>Who is YNZ?</h3>
	        <p>
	        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	            Proin eget vulputate nisi. Sed eu gravida felis. Cras leo 
	            orci, blandit ut diam id, imperdiet eleifend nisl. 
	            Sed dapibus sit.
	        </p>
	    </div>
	</div><!-- 
	<div class="homepage-box-two" ui-view="columnTwo">
	
	</div>

	<div class="homepage-box-three" ng-view="columnThree">

	</div>
	<div ui-view></div>
 -->
</div>