<div class="container no-bottom">
    <div class="one-third-responsive full-bottom">
        <h3>Simple Buttons</h3>
        <p>Pure CSS3 buttons made with just one line of code are awesome! Flat, minimal, and perfect!</p>
        <a href="#" class="button button-red">Button</a>
        <a href="#" class="button button-green">Button</a>
        <a href="#" class="button button-blue">Button</a>
        <a href="#" class="button button-magenta">Button</a>
        <a href="#" class="button button-tea">Button</a>
        <a href="#" class="button button-yellow">Button</a>
        <a href="#" class="button button-orange">Button</a>
        <a href="#" class="button button-light">Button</a>
        <a href="#" class="button button-grey">Button</a>  
        <a href="#" class="button button-dark">Button</a>      
    </div>
</div>