<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Stikom App - Version 1.0</title>
<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->

<script src="lib/js/angular.min.js"></script>
<script src="lib/js/angular-route.min.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

<link href="lib/css/style.css"           rel="stylesheet" type="text/css">
<link href="lib/css/framework.css"       rel="stylesheet" type="text/css">
<link href="lib/css/font-awesome.css"    rel="stylesheet" type="text/css">
<link href="css/custom.css"              rel="stylesheet" type="text/css">

<script type="text/javascript" src="lib/js/jquery.js"></script>
<script type="text/javascript" src="lib/js/jqueryui.js"></script>
<script type="text/javascript" src="lib/js/snap.min.js"></script>



</head>
<body ng-app="myApp" ng-controller="loginCtrl"> 

    <div id="preloader" ng-hide="loader">
        <div id="status">
            <p class="center-text">
                Loading the content...
                <em>Loading depends on your connection speed!</em>
            </p>
        </div>
    </div>

    <div class="all-elements" ng-show="loader">
        <div id="sidebar" class="page-sidebar">
        </div>


        <div id="content" class="page-content"> 
            <div class="header">
                <a class="open-nav" href="#"><i class="fa fa-navicon"></i></a>
                
                <a href="contact.html" class="contact-deploy"><i class="fa fa-envelope-o"></i></a>
            </div>
        
            <div class="login-page bg1">
                <div class="login-page-overlay"></div>
                <div class="login-page-wrapper">
                    <a href="#" class="login-logo"></a>
                    <p>
                        Please enter your login credentials bellow. 
                    </p>
                    <input type="text"     class="login-username" ng-model="username" placeholder="Username">
                    <input type="password" class="login-password" ng-model="password" placeholder="Password">
                    <div class="row">
                        <div class="col">
                        <a href="#" class="button button-green" ng-click="login()">Login</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <a class="forgot" href="#">Forgot Password?</a>
                </div>            
            </div>
            
            
        </div>
        
    </div>

    <script type="text/javascript">
            /*$(document).ready(function(){
                
                $( "#submit" ).click( function(){
                    var username = $( "#username" ).val();
                    var password = $( "#password" ).val();
                    window.localStorage.setItem( "username", username );
                    window.localStorage.setItem( "password", password );

                    $.ajax({
                        type: "GET" ,
                        url: api_url + "users/login/" + username + "/" + password ,
                        dataType: "json",
                        error: function() {
                            alert( 'Maaf sedang ada kesalahan' );
                        },
                        success: function( data ) {
                            if ( data.login == false )
                            {
                                alert( 'login tidak berhasil' );
                                window.location = 'login.html';

                            } else {                        
                                window.localStorage.setItem( 'auth_users', JSON.stringify(data) );
                                window.location = "index.html";     
                            }
                        }
                    });                
                    //alert( window.localStorage.getItem("username") );
                    return false;
                });

            }); */   
    </script>
</body>
</html>