        
            <div class="page-sidebar-scroll">
                <div class="sidebar-shortcuts">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-phone"></i></a>
                    <a class="close-nav" href="#" ng-click="close()"><i class="fa fa-times"></i></a>
                </div>
                            
                <div class="sidebar-logo">
                    <img  ng-src="{{ava_picture}}" width="160" alt="img">
                    <h3>{{ display_name }}</h3>
                </div>
                            
                <div class="sidebar-breadcrumb">NAVIGATION</div>
                    
                <div class="navigation-item">
                    <a href="#/dashboard" class="current nav-item" ng-click="close()">
                        <i class="fa fa-home"></i>
                        Beranda
                        <i class="fa fa-circle"></i>     
                        <!-- <ion-nav-view name="menu-dash"></ion-nav-view> -->
                    </a>
                </div>    
                <div class="sidebar-decoration"></div>
                <div class="navigation-item">
                    <a href="#/schedules" class="nav-item" ng-click="close()">
                        <i class="fa fa-calendar"></i>
                        Jadwal kuliah
                        <i class="fa fa-circle"></i>  
                    </a>
                </div>
                <div class="sidebar-decoration"></div>          
                <div class="navigation-item">
                    <a href="#/scores" class="nav-item" ng-click="close()">
                        <i class="fa fa-star-o"></i>
                        Lihat Nilai
                        <i class="fa fa-circle"></i>  
                    </a>
                </div>
                <div class="sidebar-decoration"></div>          
                <div class="navigation-item">
                    <a href="contact.html" class="nav-item" ng-click="close()">
                        <i class="fa fa-envelope-o"></i>
                        Contact
                        <i class="fa fa-circle"></i>  
                    </a>
                </div>  
                <div class="sidebar-decoration"></div>          
                <div class="navigation-item">
                    <a href="#/schedules" class="nav-item" ng-click="close()">
                        <i class="fa fa-cog"></i>
                        Pengaturan
                        <i class="fa fa-circle"></i>  
                    </a>
                </div>
                <div class="sidebar-decoration"></div>  
                <div class="navigation-item">
                    <a href="#" ng-click="logout()" class="close-nav nav-item" ng-click="close()">
                        <i class="fa fa-times"></i>
                        Logout
                        <i class="fa fa-circle"></i>  
                    </a>
                </div> 
                 
                <div class="sidebar-breadcrumb">SOCIAL STUFF</div>
                <div class="navigation-item">
                    <a href="https://www.facebook.com/enabled.labs" class="nav-item">
                        <i class="fa fa-facebook"></i>
                        Facebook
                        <i class="fa fa-link"></i>  
                    </a>
                </div>    
                <div class="sidebar-decoration"></div>           
                <div class="navigation-item">
                    <a href="https://twitter.com/iEnabled" class="nav-item">
                        <i class="fa fa-twitter"></i>
                        Twitter
                        <i class="fa fa-link"></i>  
                    </a>
                </div>       
                <div class="sidebar-decoration"></div>
                <div class="navigation-item">
                    <a href="#" class="nav-item">
                        <i class="fa fa-google-plus"></i>
                        Google Plus
                        <i class="fa fa-link"></i>  
                    </a>
                </div>             
                <div class="sidebar-decoration"></div>   
                <div class="navigation-item">
                    <a href="+ 123 456 7890" class="nav-item">
                        <i class="fa fa-phone"></i>
                        Call Me
                        <i class="fa fa-link"></i>  
                    </a>
                </div>  
                <div class="sidebar-decoration"></div>           
                <div class="navigation-item">
                    <a href="+ 123 456 7890" class="nav-item">
                        <i class="fa fa-comment-o"></i>
                        Text Me
                        <i class="fa fa-link"></i>  
                    </a>
                </div>  
                
                <div class="sidebar-breadcrumb">COPYRIGHT 2014. ALL RIGHTS RESERVED!</div>
             
            </div>         